/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10 version
*/

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0px 15px;
    margin: 0 auto;
    clear: both;       
}

.fl {
    float: left;      
}

.fr {
    float: right;
    height: 0;    
}

header {    
    min-height: 90px;
    background: rgba(232, 236, 241, 0.3);    
    position: relative; 
    z-index: 2;            
}

.header-box {
    overflow: auto;                   
}

.logo-wrap {
    margin: 35px 40px 20px 20px;
}

.menu-item {
    float: left;
    margin: 40px 20px;        
}

.menu-item a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #9daeb6;    
}

.menu-item a:hover {
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid #36aeea;
}

.btn {
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.vertical-menu {
    position: absolute;    
    width: 300px;
    min-width: 300px;    
    top: 0px;
    left: -30px; 
    display: none;   
}

.nav-vertical-menu {
    height: 100%;
    position: fixed;
    margin-left: 30px;
    padding: 20px 10px;    
    border: 2px solid #bfc6cc;
    -webkit-box-shadow: 3px 5px 5px 2px #949494;
            box-shadow: 3px 5px 5px 2px #949494;
    background: #f6f4f4;
    opacity: 0.9;
}

.nav-vertical-menu-div {
    margin: 10px;    
}

.vertical-menu li {      
    padding: 20px 30px;          
}

.vertical-menu li a {    
    text-decoration: none;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px; 
    color: #16b5ef; 
    padding: inherit;  
    border: 1px solid #949494;
    border-radius: 5px;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;     
}

.vertical-menu li a:hover {
    background: #56c7ff;
    color: #fff;
    border: 2px solid #949494;
    padding: 30px 30px 20px 20px;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    display: none;        
}

#input-call-us {
    display: none;
}

#close-vertical-menu {
    visibility: hidden;
}

.label-close-vertical-menu {    
    position: relative;    
    left: 235px;
    bottom: 20px;
    padding-top: 10px;    
}

.label-close-vertical-menu::after {    
    content: "\2716";
    font-size: x-large;
    color: #2c2e37;
    cursor: pointer;       
}

.label-close-vertical-menu:hover {
    background: #56c7ff;    
}

.label-for-call-us {      
    position: relative;    
    width: 150px;
    max-width: 150px;    
    top: 40px;
    right: 20px;    
    padding: 15px 40px;
    margin-right: 10px;
    border: 3px solid #36aeea;    
    background: transparent;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;    
    color: #36aeea;    
    cursor: pointer;     
}

.label-for-call-us:hover {
    border: 3px solid #36aeea;
    background: #36aeea;
    color: #fff;
}

.label-for-call-us:active {
    color: #144057;
    border: 3px solid #144057;
    background: transparent;     
}
 
.label-for-call-us:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 3px #000;
            box-shadow: 0 0 0 3px #000;    
}

input[id="input-call-us"]:checked + .vertical-menu {
    display: block;
}

input[id="close-vertical-menu"]:checked ~ .vertical-menu-hidden {
    left: -9999px;
}

/*Start style sec-1*/
.sec-1 {
    background: url(../img/no-man-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    padding: 220px 0px 150px 0px;
    position: relative;       
    z-index: 1;
    top: -95px;           
}

.sec-1--box {    
    border: 3px solid #fff;
    padding: 40px 35px;    
}

.sec-1--box h2 {
    line-height: 42px;
}

.sec-1-title--white {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 3px;
    word-spacing: 3px;
    display: block;
    color: #fff;
}

.sec-1-title--blue {
    font-family: 'Bringin';
    font-size: 66px;
    font-style: normal;      
    letter-spacing: 2px;
    word-spacing: 2px;      
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #56c7ff;    
}

.sec-1--box p {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #bfc6cc;
}

.sec-1-text1 {
    display: block;
}

.btn-blue-lg {    
    background: #36aeea;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    border: 3px solid transparent;
    padding: 20px 0px;
    margin-top: 30px;                 
    min-width: 250px;
}   

.btn-blue-lg:hover {
   background: transparent;
   color: #36aeea;
   border: 3px solid #36aeea;
}

.btn-blue-lg:active {
    color: #144057;
    border: 3px solid #144057;
}
 
.btn-blue-lg:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 3px #000;
            box-shadow: 0 0 0 3px #000;     
}
/*End style sec-1*/

/*Start style sec-2*/
.sec-2 { 
    position: relative;
    height: 670px;       
    padding-top: 20px;  
    bottom: 95px;
    background: #f6f4f4;
    z-index: 1;      
}

.about-us-background-wrapper {
    background-image: url(../img/about-us-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 85px 0px;
    width: 98%;    
    max-width: 1120px;          
    min-height: 530px;      
}

.sec-2--box {      
    position: absolute;
    top: 235px;    
}

.sec-2--box h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2c2e37;
}

.block-title {
    position: relative;   
}

.block-title::before {
    content: "";
    background: url(../img/waves-image.png);
    min-width: 80px;
    min-height: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -40px;     
}

.sec-2--box p {
    margin-top: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #949494;
}

.sec-2-text1 {
    display: block;
}

.sec-2-text2 {
    display: inherit;
}

.btn-about-us {    
    background-color: #36aeea;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;    
    letter-spacing: 2px;
    color: #fff;
    border: 3px solid transparent;
    padding: 10px 0px;
    margin-top: 30px;                 
    min-width: 130px;
}   

.btn-about-us:hover {
    background: transparent;
    color: #36aeea;
    border: 3px solid #36aeea;
}

.btn-about-us:active {
    color: #144057;
    border: 3px solid #144057;
}

.btn-about-us:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 3px #000;
            box-shadow: 0 0 0 3px #000;
}

.sec-2--image1 {
    position: relative;
    top: -70px;
    left: 525px;
    width: 100%;
    max-width: 800px;
    height: auto;      
}

.about-us-imgage1 {     
    width: 100%;
    max-width: 800px;
    height: auto;    
}

.sec-2--image2 {
    position: relative;
    width: 100%;
    max-width: 350px;
    left: 440px;    
    bottom: 325px;    
}

.about-us-imgage2 {     
    width: 100%;
    max-width: 350px;
    height: auto;    
}
/*End style sec-2*/

/*Start style sec-3*/
.sec-3 {  
    min-height: 1060px;      
}

.sec-3 h2 {
    margin-top: 50px;
    margin-bottom: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -webkit-box-pack: center;    
        -ms-flex-pack: center;    
            justify-content: center;    
    -webkit-box-align: center;    
        -ms-flex-align: center;    
            align-items: center;    
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #2c2e37;   
}

.our-journal_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-shadow: 0px 0px 3px 3px #00000036;
            box-shadow: 0px 0px 3px 3px #00000036;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 70px;
}

.our-journal_item {
    -ms-flex-preferred-size: 33.3%;
        flex-basis: 33.3%;
    min-height: 380px;
}

.journal_item--bg1 {
    background: url(../img/our-journal-background1.jpg);
}

.journal_item--bg2 {
    background: url(../img/our-journal-background2.jpg);
}

.journal_item--bg3 {
    background: url(../img/our-journal-background3.jpg);
}

.journal_item_bg {
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.journal_item--content1 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
}

.journal_item--content1::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid #fff;
    border-bottom: 15px solid transparent;
    position: absolute;
    top: 50px;
    left: -14px;
    z-index: 1;
}

.journal_item--content2 {    
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}

.journal_item--content2::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid #fff;
    border-bottom: 15px solid transparent;
    position: absolute;
    top: 50px;
    right: -14px;
    z-index: 1;
}

.journal_item--content3 {
    position: relative;    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}

.journal_item--content3::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: -14px;
    left: 50px;
    z-index: 1;
}

.our-journal_item h3 {  
    margin-top: 50px;  
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #16b5ef; 
}

.our-journal_item--p1 {  
    margin-top: 50px;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.15em;
    line-height: 24px;
    text-transform: uppercase;
    color: #212121; 
}

.our-journal_item--p2 {
    margin-top: 30px;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;     
    line-height: 23px;    
    color: #777777; 
}

.our-journal_item--p3 {
    margin-top: 30px;       
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;     
    font-style: italic;
    color: #212121; 
}

.our-journal__crossing-out-word {
    text-decoration: line-through;
}

.our-journal_item--p2-3 {
    margin-top: 50px;
}
/*End style sec-3*/

/*Start style sec-4*/
.sec-4 {
    min-height: 650px; 
    margin-top: -70px;
    background: url(../img/form-block-background.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center bottom;
    position: relative;
    overflow: hidden;      
}

.sec-4::before {
    content: "";
    background-image: url(../img/form-block-tree.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f6f4f4;    
    min-height: 410px;
    min-width: 260px;    
    position: absolute;
    top: 240px;
    right: 210px;
    overflow-x: hidden;    
}

.sec-4::after {
    content: "";
    background-image: url(../img/form-block-tree.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #f6f4f4;    
    min-height: 600px;
    min-width: 390px;    
    position: absolute;
    top: 50px;
    right: -80px;
    filter: blur(5px);
    overflow-x: hidden;      
}

.sec-4 h2 { 
    display: inline-block; 
    margin-top: 170px;   
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #2c2e37;   
}

.sec-4--p1 {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #949494;        
}

.sec-4--span1 {
    display: block;
}

.sec-4-form {
    min-height: 60px;
    max-width: 860px;
    margin-top: 30px;
    background: #fff;      
    border-radius: 4px;    
}

.sec-4 input {
    min-height: 40px;
    min-width: 290px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;    
    color: #949494;    
    display: inline-block;
    border: 2px solid #fff;    
    padding-left: 15px;    
}

#input-phone {
    border-left: 1px solid #ebebeb;
}

.sec-4 input:active {
    color: #144057;
    border: 2px solid #144057;
}
 
.sec-4 input:focus {
    outline: none;    
    box-shadow: 0 0 0 2px #000;     
}

.sec-4-btn {
    min-width: 225px;
    margin: 3px;
    padding: 15px 45px;    
    background: #36aeea;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    border: 1px solid transparent;   
}   

.sec-4-btn:hover {
   background: transparent;
   color: #36aeea;
   border: 1px solid #36aeea;
}

.sec-4-btn:active {
    color: #144057;
    border: 1px solid #144057;
}
 
.sec-4-btn:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 1px #000;
            box-shadow: 0 0 0 1px #000;     
}

.sec-4--p2 {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; 
    color: #36aeea;
}

.sec-4--p2 span {
    padding-right: 10px;
    font-size: 18px;
}
/*End style sec-4*/

/*Start style sec-5*/
.sec-5 {  
    min-height: 720px;      
}

.sec-5 h2 { 
    margin-top: 100px;     
    display: -webkit-box;     
    display: -ms-flexbox;     
    display: flex;    
    -webkit-box-pack: center;    
        -ms-flex-pack: center;    
            justify-content: center;    
    -webkit-box-align: center;    
        -ms-flex-align: center;    
            align-items: center;    
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #2c2e37;   
}

.how-we-work__wrapper {
    margin-top: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;         
}

.how-we-work_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 33.3%;
        flex-basis: 33.3%;
    min-height: 400px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
    position: relative;   
}

.how-we-work-div1 {
    width: 48px;
    height: 48px;
    border: 3px solid #36aeea;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;    
    color: #36aeea;
}

.how-we-work-div1::before {
    content: "";
    background: url(../img/dotted-line.png);
    background-size: contain;    
    background-repeat: repeat;    
    height: 2px;
    width: 40%;
    position: absolute;
    right: 0; 
    z-index: -1;     
}

.how-we-work-div1::after {
    content: "";
    background: url(../img/dotted-line.png);    
    background-size: contain;    
    background-repeat: repeat;    
    height: 2px;    
    width: 40%;
    position: absolute;
    left: 0; 
    z-index: -1;
}

.how-we-work_item:nth-child(1) div::after {
    display: none;
}

.how-we-work_item:nth-child(4) .how-we-work-div1::before {
    display: none;
}

.how-we-work-div2::before {
    content: "";
    background: url(../img/dotted-line.png);
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);      
    background-repeat: repeat;    
    height: 2px;
    width: 68%;    
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: -1;
}

.how-we-work-div2 {
    margin-top: 60px;    
}

.how-we-work-div3 {
    margin-top: 35px;    
}

.how-we-work-div3 span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.how-we-work-div3__span1 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #2c2e37; 
}

.how-we-work-div3:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;    
    color: #949494;
    line-height: 24px; 
}
/*End style sec-5*/

/*Start style sec-6*/
.sec-6 {
    width: 100%;
    min-height: 1050px;         
    position: relative;      
}

.sec-6::after {
    content: "";
    background: url(../img/travel-with-us-background2.jpg);
    opacity: 0.9;
    top: 140px;
    right: 0px;
    bottom: 0;
    left: 0;           
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    position: absolute;    
    min-height: 900px;    
    position: absolute;
    z-index: -1; 
}

.travel-with-us-background { 
    width: 100%;       
    background: url(../img/travel-with-us-background1.png);       
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top; 
    min-height: 700px;   
}

.sec-6 h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #2c2e37;    
}

.slider {
    width: 1140px;
    max-width: 1140px;
    margin-top: 100px;
    margin-left: 20px;   
}

.owl-prev {
    position: absolute;
    top: 50%;
    left: -30px;
    max-width: 30px;
    min-height: 30px;
    margin-top: -15px;
    line-height: 30px;
    color: #fff;    
}

.owl-next {
    position: absolute;
    top: 50%;
    right: -30px;
    max-width: 30px;
    min-height: 30px;
    margin-top: -15px;
    line-height: 30px;
    color: #fff;
}

.slider img {
    position: relative;
    width: 100%;
    max-width: 100%;   
}

.slider h3 {
    position: absolute;
	top: 165px;
	left: 20px;
    color: #fff;
	font-family: 'Open Sans', sans-serif;
    font-size: 28px;
}

.rating-area {
	position: absolute;
    top: 10px;
	left: 15px;
    color: #fff;
}

.slider-img-p1 {
    position: absolute;
    bottom: 140px;
	left: 20px;
    color: #fff;
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.slider-img-p1 span {
    display: block;
}

.slider-img-p2 {
    position: absolute;
    bottom: 20px;
	left: 20px;
    color: #fff;
	font-family: 'Open Sans', sans-serif;    
}

.slider-img-span1 {
    font-size: 18px;
    text-decoration: line-through;
}

.slider-img-span2 {
    margin-left: 60px;
    font-size: 26px;
    font-weight: bolder;
}

.slider-img-span2--price {
    margin-left: 45px;
}
/*End style sec-6*/

/* Start style sec-7 */
.sec-7 {
    min-height: 1120px;
    height: 100%; 
    margin-top: 110px;      
}

.sec-7 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #2c2e37;    
}

.gallery-grid {    
    display: grid;
    grid-gap: 30px;    
    margin: 14px;
    grid-template-columns: repeat(1fr 1.5fr 2fr);
    grid-template-rows: repeat(242px 70px 280px) ;
}

.gallery-grid > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-grid > div:nth-child(1) {    
    grid-row-start: 1; 
    grid-row-end: 3;    
}

.gallery-grid > div:nth-child(2) {    
    grid-row-start: 1; 
    grid-row-end: 2;   
}

.gallery-grid > div:nth-child(3) {    
    grid-row-start: 1; 
    grid-row-end: 3;   
}

.gallery-grid > div:nth-child(4) {    
    grid-row-start: 3; 
    grid-row-end: 4;    
}

.gallery-grid > div:nth-child(5) {    
    grid-row-start: 2; 
    grid-row-end: 4;   
}

.gallery-grid > div:nth-child(6) {    
    grid-row-start: 3; 
    grid-row-end: 4;   
}

.gallery-logos {
    min-height: 180px;
    margin-top: 50px;    
    background-color: #f5f5f5;
    display: flex;           
}

.gallery-logos__wrapper {
    display: flex;
    justify-content: space-between;
    align-self: center;       
}

.icon {
    background-image: url(../img/logos-sprite.png);
    background-repeat: no-repeat;
    height: 34px;
    width: 100px;
    margin-left: 10px;
    transition: all 0.3s linear;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.logo-slack:hover {
    background-position: 5px; 
}

.logo-ao3 {
    background-position: -200px;    
}

.logo-ao3:hover {
    background-position: -195px;
}

.logo-google {
    background-position: -415px;
}

.logo-google:hover {
    background-position: -410px;
}

.logo-facebook {
    background-position: -625px;
}

.logo-facebook:hover {
    background-position: -620px;
}

.logo-spotify {
    background-position: -840px;
}

.logo-spotify:hover {
    background-position: -835px;
}

.logo-nike {
    background-position: -1050px;
}

.logo-nike:hover {
    background-position: -1045px;
}
/*End style sec-7*/

/* Start footer style */
.main-footer {
    min-height: 1360px;
    height: 100%;
    position: relative; 
}

.main-footer::before {
    content: "";
    min-height: 1360px;
    height: 100%;
    width: 100%;
    background: url(../img/footer-background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;  
}

.main-footer::after {
    content: "";
    min-height: 370px;
    width: 100%;
    background: url(../img/footer-background1.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;     
    position: absolute;
    top: 140px;    
    z-index: -1;
}

.main-footer h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #2c2e37;    
}

.footer-wrapper {
    position: relative;    
}

.slider2-item {
    max-width: 530x;    
}

.slider2 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 33px;
    color: #949494;    
}

.reviews-text span {
    display: block;            
}

.slider2-span3 {    
    word-spacing: 6px;    
}

.slider2-span4 {    
    word-spacing: 3px;
}

.reviews-footer {
    margin-top: 30px;
    position: relative;
}

.reviews-signature {     
    float: right;    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #36aeea;
    position: absolute;
    top: 20px;
    left: 80px;
}

.reviews-signature2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #36aeea;  
}

.footer-form-wrapper {
    margin: 120px auto;
    min-height: 500px;
    max-width: 510px;
    border-radius: 4px;
    background: #5c96a4;
    opacity: 0.9;    
}

.footer-form-wrapper h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #36aeea; 
}

.footer-form-wrapper p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.footer-form input {
    min-height: 60px;
    min-width: 450px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;   
    color: #cccccc;    
    display: block;
    margin: 20px auto;
    padding-left: 15px;  
    border: 2px solid #fff;
    border-radius: 4px;     
}

.footer-form input:active {
    color: #144057;
    border: 2px solid #144057;
}
 
.footer-form input:focus {
    outline: none;    
    box-shadow: 0 0 0 2px #000;     
}

.footer-form-btn {
    display: block;
    margin: 0 auto;
    min-width: 450px;    
    padding: 22px 210px;    
    background: #36aeea;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    border: 1px solid transparent;   
}   

.footer-form-btn:hover {
   background: #fff;
   color: #36aeea;
   border: 2px solid #36aeea;
}

.footer-form-btn:active {
    color: #144057;
    border: 2px solid #144057;
}
 
.footer-form-btn:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 2px #000;
            box-shadow: 0 0 0 2px #000;     
}

.footer-small {
    min-height: 80px;
    margin-top: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-small p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #78a8b8;
}

.footer-icons {
    display: flex;
    margin-right: 70px;  
}

.social {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a {  
    border: 1px solid transparent;
    padding: 15px 15px;
    border-radius: 2px;    
    color: white;
}

.social.twitter {
    background-color: #29c5f6;
}

.social.twitter a:hover {
    background-color: #fff;
    color: #29c5f6;
}

.social.facebook {
    background-color: #6788ce;
}

.social.facebook a:hover {
    background-color: #fff;
    color: #6788ce;
}

.social.vk {
    background-color: #54769a;
}

.social.vk a:hover {
    background-color: #fff;
    color: #54769a;
}

.footer-tel a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-weight: 900;
    color: #78a8b8;
}

.footer-tel a:hover {
    color: #fff;
}
/* End footer style */

/* Start media */
@media (max-width: 1500px) {
    .sec-2--image1 {
        position: relative;
        top: -70px;
        left: 470px;
        width: 80%;
        max-width: 700px;
        height: auto;      
    }    
    .about-us-imgage1 {     
        width: 100%;
        max-width: 700px;
        height: auto;    
    }
    .sec-2--image2 {
        position: relative;
        width: 70%;
        max-width: 300px;
        left: 410px;    
        bottom: 255px;    
    }
    
    .about-us-imgage2 {     
        width: 100%;
        max-width: 300px;
        height: auto;    
    }
    .sec-4::before {          
        min-height: 45%;
        min-width: 220px;    
        position: absolute;
        top: 355px;
        right: 250px;
        overflow-x: hidden;    
    }
    
    .sec-4::after {  
        min-height: 80%;
        max-width: 80%;    
        position: absolute;
        top: 130px;
        right: -50px;
        overflow-x: hidden;              
    }
}

@media (max-width: 1200px) {
    .container {
        width: 90%;             
    }
    .sec-2--image1 {        
        width: 70%;
        max-width: 600px;             
    }    
    .about-us-imgage1 {     
        width: 100%;
        max-width: 600px;
        height: auto;    
    }
    .sec-2--image2 {
        position: relative;
        width: 65%;
        max-width: 300px;
        left: 400px;    
        bottom: 190px;    
    }
    .sec-4 input {
        display: block;           
    }
    .sec-4-btn {
        display: block;        
    }     
    .owl-stage-outer {
        width: 80%;
        margin-left: 100px;        
    }
    .slider h3 {        
        top: 100px;               
        font-size: 24px;
    }
    .slider-img-p1 {          
        bottom: 100px;        
        font-size: 14px;
    }
    .slider-img-p2 {    
        left: 20px;    
    }
    .slider-img-span2 {
        margin-left: 35px;
        font-size: 20px;
        font-weight: bolder;        
    }    
    .slider-img-span2--price {
        margin-left: 25px;
        font-size: 20px;
    }
    .owl-prev {
        position: absolute;
        top: 50%;
        left: 30px;          
    }    
    .owl-next {
        position: absolute;
        top: 50%;
        right: 30px;        
    }
    .main-footer::after {
        top: 180px;        
    }
    .slider2-item {
        max-width: 480x;
        margin-right: 10px;        
    }    
    .slider2 p {
        line-height: 23px;              
    }
    .footer-small {
        margin-top: 320px;
    }
}

@media (max-width: 1150px) {
    .menu-item {        
        margin: 40px 10px;        
    }
    .sec-2--image1 {        
        top: -60px;        
        width: 60%;
        max-width: 500px;            
    }    
    .about-us-imgage1 {     
        width: 100%;
        max-width: 500px;
        height: auto;    
    }
    .sec-2--image2 {
        position: relative;
        width: 60%;
        max-width: 250px;
        left: 400px;    
        bottom: 75px;    
    }
    .about-us-imgage2 {     
        width: 100%;
        max-width: 250px;
        height: auto;    
    }       
}

@media (max-width: 1050px) {
    .sec-2__images-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;        
    }
    .sec-2--image1 {      
        left: 350px;
        max-width: 500px;            
    }    
    .sec-2--image2 {
        position: relative;
        width: 50%;
        max-width: 250px;
        top: 230px;
        left: 50px;            
    }
    .main-footer::after {
        top: 220px;        
    }     
}

@media (max-width: 999px) {
    .sec-4--span2 {
        display: block;
    }
    .owl-stage-outer {
        width: 97%;
        margin-left: 8px;                                        
    }
    .owl-item img {
        max-width: 90%; 
        display: block; 
        margin: 0 auto;   
    }    
    .owl-prev {
        position: absolute;
        top: 50%;
        left: 3px;          
    }    
    .owl-next {
        position: absolute;
        top: 50%;
        right: 0px;        
    }
    .slider h3 {        
        top: 120px;
        left: 30px;               
        font-size: 28px;
    }
    .slider-img-p1 {          
        bottom: 150px;        
        font-size: 18px;
    }
    .slider-img-p2 {    
        left: 30px;    
    }
    .slider-img-span2 {
        margin-left: 75px;
        font-size: 24px;
        font-weight: bolder;        
    }    
    .slider-img-span2--price {
        margin-left: 60px;
        font-size: 24px;
    }
    .sec-7 {
        position: relative;
        top: 70px;
    }
    .footer-icons {
        margin-right: 0px;  
    }
}

@media (max-width: 980px) {
    .container {
        width: 85%;             
    }
    .header-nav {
        width: 50%;
    }
    .menu-item {
        float: none;   
        margin: 20px 10px;      
    }
    .header-nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .label-for-call-us {
        position: absolute;    
        width: 60px;
        max-width: 60px;    
        top: 40px;
        right: 80px;    
        padding: 15px 30px;
        margin-right: 10px;   
    }
}

@media (max-width: 900px) {
    .sec-2--image1 {        
        top: 10px;
        left: 300px;
        width: 50%;
        max-width: 400px;             
    }    
    .sec-2--image2 {        
        width: 30%;
        max-width: 200px;
        top: 260px;
        left: 50px;            
    }      
    .about-us-background {        
        max-width: 50%;
        background-size: contain;
    }
    .owl-stage-outer {
        width: 65%;
        margin-left: 135px;            
    }
    .owl-item img {
        max-width: 100%;         
    } 
    .slider h3 {        
        top: 140px;
        left: 20px;                
        font-size: 24px;               
    }
    .slider-img-p1 {          
        bottom: 120px;        
        font-size: 16px;
    }
    .slider-img-p2 {    
        left: 10px;    
    }
    .slider-img-span2 {
        margin-left: 80px;
        font-size: 22px;
        font-weight: bolder;        
    }    
    .slider-img-span2--price {
        margin-left: 75px;
        font-size: 20px;
    }
    .owl-prev {        
        top: 50%;
        left: 50px;
        width: 50px;                   
    }  
    .owl-prev i {
        font-family: 'Font Awesome 5 Free';
        font-size: 42px; 
    } 
    .owl-next {        
        top: 50%;
        right: 50px;
        width: 50px;             
    } 
    .owl-next i {
        font-family: 'Font Awesome 5 Free';
        font-size: 42px; 
    }     
    .our-journal_item {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    }
    .journal_item--bg2 {
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4;
    }
    .journal_item--content2 {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
    .journal_item--bg3 {
        -webkit-box-ordinal-group: 6;
            -ms-flex-order: 5;
                order: 5;
    }
    .journal_item--content3 {
        -webkit-box-ordinal-group: 7;
            -ms-flex-order: 6;
                order: 6;
    }
    .how-we-work__wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;       
    } 
    .how-we-work_item {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        margin-top: 30px;    
    }    
    .how-we-work_item:nth-child(2) .how-we-work-div1::before {
        display: none;
    }
    .how-we-work_item:nth-child(3) .how-we-work-div1::after {
        display: none;
    }
    .how-we-work-div1::before {        
        width: 44%;       
    }
    .how-we-work-div1::after {        
        width: 44%;       
    }
    .sec-6 {
        margin-top: 60px;
    }
    .sec-7 {
        top: 170px;
    }
    .main-footer::after {
        top: 250px;        
    }               
}

@media (max-width: 800px) {    
    .owl-stage-outer {       
        margin-left: 110px;                               
    }       
    .slider h3 {        
        top: 100px;
        left: 10px;               
        font-size: 22px;        
    }
    .slider-img-p1 {          
        bottom: 120px;
        left: 10px;        
        font-size: 16px;
    }
    .slider-img-p2 {    
        left: 20px;    
    }
    .slider-img-span2 {
        margin-left: 35px;
        font-size: 24px;
        font-weight: bolder;        
    }    
    .slider-img-span2--price {
        margin-left: 30px;
        font-size: 22px;
    }
    .owl-prev {        
        top: 50%;
        left: 30px;          
    }    
    .owl-next {        
        top: 50%;
        right: 30px;        
    }
    .main-footer::after {
        top: 300px;        
    }
}

@media (max-width: 760px) {
    .header-nav {
        width: 45%;
    }
    .menu-item {          
        margin: 10px 10px;      
    }    
    .label-for-call-us {           
        width: 50px;
        max-width: 50px;    
        top: 20px;
        right: 50px;    
        padding: 10px 20px;
        margin-right: 10px;   
    }
    .sec-2--image1 {        
        top: 0px;
        left: 240px;
        width: 45%;
        max-width: 400px;              
    }
    .sec-2--image2 {        
        width: 30%;
        max-width: 150px;
        top: 250px;
        left: 90px;            
    }
    .sec-4::before {          
        min-height: 35%;
        min-width: 150px;    
        position: absolute;
        top: 425px;
        right: 160px;
        overflow-x: hidden;    
    }
    .sec-4::after {  
        min-height: 55%;
        max-width: 50%;    
        position: absolute;
        top: 295px;
        right: -140px;
        overflow-x: hidden;              
    }
    .gallery-logos__wrapper {
        flex-wrap: wrap;
    }
    .icon {
        margin-left: 0px;
    }
    .logo-slack {
        background-position: 0px; 
    }    
    .logo-ao3 {
        background-position: -210px;    
    }    
    .logo-ao3:hover {
        background-position: -205px;
    }    
    .logo-google {
        background-position: -425px;
    }    
    .logo-google:hover {
        background-position: -420px;
    }    
    .logo-facebook {
        background-position: -635px;
    }    
    .logo-facebook:hover {
        background-position: -630px;
    }    
    .logo-spotify {
        background-position: -850px;
    }
    .logo-spotify:hover {
        background-position: -845px;
    }    
    .logo-nike {
        background-position: -1060px;
    }
    .logo-nike:hover {
        background-position: -1055px;
    }     
}

@media (max-width: 700px) {
    .owl-stage-outer {       
        margin-left: 100px;                               
    }     
    .slider h3 {        
        top: 90px;               
        font-size: 22px;        
    }
    .slider-img-p1 {          
        bottom: 90px;        
        font-size: 14px;
    }
    .slider-img-p2 {    
        left: 10px;    
    }
    .slider-img-span2 {
        margin-left: 25px;
        font-size: 22px;
        font-weight: bolder;        
    }    
    .slider-img-span2--price {
        margin-left: 20px;
        font-size: 22px;
    }
    .owl-prev {        
        top: 50%;
        left: 20px;          
    }    
    .owl-next {        
        top: 50%;
        right: 20px;        
    }
    .sec-7 {
        top: 250px;
    }
    .main-footer::after {
        top: 340px;        
    }    
    .slider2-item {
        max-width: 480x;    
    }    
    .slider2 p {
        font-size: 16px;
        line-height: 23px; 
    }    
    .reviews-footer {
        margin-top: 20px;
    }    
    .reviews-signature {     
        font-size: 14px;
        font-weight: bold;
    }
    .reviews-signature2 {
        font-size: 14px;
        font-weight: lighter; 
    }
    .footer-small {
      margin-top: 370px;
    }
    .footer-small p {
        font-size: 14px; 
    }
    .footer-tel a {
        font-size: 25px;     
    }
}

@media (min-width:601px) and (max-width:900px) {
    .journal_item--content2::before {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #fff;
        position: absolute;
        top: 379px;
        left: 50px;        
    }
}

@media (max-width: 600px) {
    .header-nav {
        width: 45%;
    }
    .menu-item {          
        margin: 5px 10px;      
    }    
    .label-for-call-us {           
        width: 40px;
        max-width: 40px;    
        top: 30px;
        right: 30px;    
        padding: 5px 20px;          
    }
    .sec-2--image1 {        
        top: 0px;
        left: 170px;
        width: 45%;
        max-width: 300px;
        height: auto;      
    }
    .sec-2--image2 {             
        width: 30%;
        max-width: 150px;
        top: 350px;
        left: 40px;            
    }   
    .our-journal_item {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
    .journal_item--bg2 {
        -webkit-box-ordinal-group: 6;
            -ms-flex-order: 5;
                order: 5;
    }
    .journal_item--content2 {
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4;
    }
    .journal_item--bg3 {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
    .journal_item--content3 {
        -webkit-box-ordinal-group: 7;
            -ms-flex-order: 6;
                order: 6;
    }
    .journal_item--content1::before {        
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #fff;
        position: absolute;
        top: -29px;
        left: 50px;        
    }
    .journal_item--content2::before {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #fff;
        position: absolute;
        top: -29px;
        right: 50px;        
    }
    .sec-4 h2 { 
        margin-top: 20px;    
    }
    .sec-4--p1 {
        margin-top: 20px; 
    }   
    .sec-4-form {
        margin-top: 20px;  
    }
    .how-we-work_item {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        margin-top: 30px;
    }
    .how-we-work_item:nth-child(1) .how-we-work-div1::before {
        display: none;
    }
    .how-we-work_item:nth-child(2) .how-we-work-div1::after {
        display: none;
    }
    .how-we-work_item:nth-child(3) .how-we-work-div1::before {
        display: none;
    }
    .how-we-work_item:nth-child(4) .how-we-work-div1::after {
        display: none;
    }
    .sec-6 {
        margin-top: 60px;
    }
    .owl-stage-outer {       
        margin-left: 80px;                                      
    }     
    .slider h3 {        
        top: 300px;
        left: 30px;               
        font-size: 28px;        
    }
    .slider-img-p1 {          
        bottom: 280px;
        left: 20px;        
        font-size: 22px;
    }
    .slider-img-p2 {    
        left: 20px;    
    }
    .slider-img-span2 {
        margin-left: 130px;
        font-size: 26px;
        font-weight: bolder;        
    }    
    .slider-img-span2--price {
        margin-left: 110px;
        font-size: 26px;
    }
    .owl-prev {        
        top: 50%;
        left: 20px;          
    }    
    .owl-next {        
        top: 50%;
        right: 20px;        
    } 
    .footer-form input {
        min-width: 400px;
    }  
    .footer-form-btn {
        min-width: 400px;    
        padding: 22px 185px; 
    }    
    .footer-small p {
        font-size: 14px;
    }
    .footer-icons {
        margin-right: 0px;  
    }
    .social {
        margin-right: 5px;
    }
    .footer-tel a {
        font-size: 20px;
    }
}

@media (max-width: 540px) {    
    .icon {
        background-image: url(../img/logos-sprite-small.png);
    } 
    .logo-ao3 {
        background-position: -155px;    
    }
    
    .logo-ao3:hover {
        background-position: -150px;
    }
    
    .logo-google {
        background-position: -310px;
    }
    
    .logo-google:hover {
        background-position: -305px;
    }
    
    .logo-facebook {
        background-position: -470px;
    }
    
    .logo-facebook:hover {
        background-position: -465px;
    }
    
    .logo-spotify {
        background-position: -630px;
    }
    
    .logo-spotify:hover {
        background-position: -625px;
    }
    
    .logo-nike {
        background-position: -790px;
    }
    .logo-nike:hover {
        background-position: -785px;
    }     
}

@media (max-width: 500px) {
    .container {
        width: 75%;             
    }
    .header-nav {
        width: 40%;
    }
    .header-nav ul {
        position: absolute;
        top: 100px;
        left: 60px;
    }
    .menu-item {          
        margin: 5px 10px;         
    }    
    .label-for-call-us {           
        width: 40px;
        max-width: 40px;    
        top: 30px;
        right: 40px;    
        padding: 5px 15px;          
    } 
    .sec-1-title--white {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 36px;
        letter-spacing: 1px;
        word-spacing: 1px;
        display: block;
        color: #fff;
    }    
    .sec-1-title--blue {
        font-family: 'Bringin';
        font-size: 42px;
        font-style: normal;      
        letter-spacing: 1px;
        word-spacing: 1px;      
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        color: #56c7ff;    
    }
    .btn-blue-lg {    
        min-width: 200px;
    }   
    .sec-2--image1 {        
        top: 0px;
        left: 140px;
        width: 45%;
        max-width: 250px;
        height: auto;      
    }
    .sec-2--image2 {             
        width: 30%;
        max-width: 150px;
        top: 400px;
        left: 60px;            
    }
    .sec-4::before {          
        min-height: 20%;
        min-width: 100px;    
        position: absolute;
        top: 520px;
        right: 160px;
        overflow-x: hidden;    
    }
    .sec-4::after {  
        min-height: 35%;
        max-width: 35%;    
        position: absolute;
        top: 425px;
        right: -200px;
        overflow-x: hidden;              
    }  
    .owl-stage-outer {       
        margin-left: 60px;                                      
    }     
    .slider h3 {        
        top: 260px;
        left: 10px;               
        font-size: 28px;        
    }
    .slider-img-p1 {          
        bottom: 210px;
        left: 10px;        
        font-size: 16px;
    }
    .slider-img-p2 {    
        left: 12px;    
    }
    .slider-img-span2 {
        margin-left: 60px;
        font-size: 22px;
        font-weight: bolder;        
    }    
    .slider-img-span2--price {
        margin-left: 50px;
        font-size: 22px;
    }
    .owl-prev {        
        top: 50%;
        left: 5px;          
    }    
    .owl-next {        
        top: 50%;
        right: 5px;        
    }
    .sec-7 {
        top: 380px;
    }
    .footer-small {
        flex-wrap: wrap;
        flex-direction: column;
        overflow-y: hidden;
    }
    .footer-form input {
        min-width: 320px;
    }  
    .footer-form-btn {
        min-width: 320px;    
        padding: 15px 145px; 
    }    
    .footer-small p {
        font-size: 12px; 
    }
    .footer-tel a {
        font-size: 20px;     
    }     
}

@media (max-width: 460px) {
    .gallery-logos__wrapper {
        flex-wrap: wrap;      
    }
    .footer-form input {
        min-height: 50px;
        min-width: 220px;
        font-size: 14px;
        font-weight: 300;
        padding-left: 5px; 
    }  
    .footer-form-btn {
        min-width: 220px;    
        padding: 10px 90px; 
    }    
}

@media (max-width: 360px) {
    .sec-1-title--white {        
        font-size: 24px;        
    }    
    .sec-1-title--blue {
        font-family: 'Bringin';
        font-size: 36px;
        font-style: normal; 
    }
    .btn-blue-lg {    
        min-width: 150px;
    }   
    .sec-2--image1 {        
        top: 10px;
        left: 80px;
        width: 45%;
        max-width: 250px;
        height: auto;      
    }
    .sec-2--image2 {             
        width: 30%;
        max-width: 150px;
        top: 440px;
        left: 40px;            
    }
    .owl-stage-outer {       
        margin-left: 45px;                                      
    }     
    .slider h3 {        
        top: 200px;
        left: 10px;               
        font-size: 24px;        
    }
    .slider-img-p1 {          
        bottom: 200px;
        left: 10px;        
        font-size: 12px;
    }
    .slider-img-p2 {    
        left: 5px;    
    }
    .slider-img-span2 {
        margin-left: 40px;
        font-size: 20px;
        font-weight: bolder;        
    }    
    .slider-img-span2--price {
        margin-left: 30px;
        font-size: 20px;
    }
    .owl-prev {        
        top: 50%;
        left: 0px;          
    }    
    .owl-next {        
        top: 50%;
        right: 0px;        
    }     
} 
/* End media */